html{
    display: flex;
    justify-content: center;
    padding: 50px;
    
}

header, a, h2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    background-color: red;
    height: 10vh;
    justify-items: center;

}
nav, a{
    display: flex;
    justify-content: center;
    /* float: right; */
    align-items: center;
    width: 100%;

    
}
img{
    /* display: flex;
    padding: 600px 300px; */
    display: flex;



}